<!Doctype html>

<html>

<head>

<meta charset="utf-8">

<title>Show message</title>

</head>

<body>

<h2><%= data[0].name %>の詳細</h2>

<table>

<% for( let row of data ) { %>

<tr><td>ID</td><td><%= row.id %></td></tr>

<tr><td>名前</td><td><%= row.name %></td></tr>

<tr><td>性別</td><td><%= row.gender %></td></tr>

<tr><td>誕生日</td><td><%= row.birthday %></td></tr>

<tr><td>声優</td><td><%= row.voice_actor %></td></tr>

<tr><td>武器種</td><td><%= row.weapon %></td></tr>

<tr><td>国</td><td><%= row.country %></td></tr>

<tr><td>元素</td><td><%= row.element %></td></tr>

<% } %>

<a href='/top'>１つ戻る</a><br>
<a href='/public/genshin.html'>検索ページ</a><br>
</table>

</body>

</html>
